<%- include('../includes/start') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/shop.css">
    <title>IBook</title>
  </head>
  <body>
  <%- include('../includes/navigation') %>
  <main class="shop">
    <input autocomplete="off" type="search" id="search" placeholder="Search" />
    <div id="books-list" class="books-list">
    </div>
    <script src='/js/index.js'></script>
  </main>
<%- include('../includes/end') %>
